body{
    margin: 0 auto;
    background-color: rgb(63, 105, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    border: 1px solid;
    background: url("img.jpeg");
    background-color: #cccccc; 
    height: 180px; 
    background-position: center; 
}

nav h5{
    text-align: center;
    color: beige;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
    min-height: 15vh;
    gap:15px;
}

.div{
    border: 1px solid;
    min-width: 40rem;
    min-height: 5rem;
    display: flex;
    background-color: coral;
    box-shadow: 2px 2px 14px;
}


span{
    margin: 55px auto;
    writing-mode: vertical-rl; 
    font-weight: bold;
}

.color{
    background-color: darkgreen;
}

.span{
    color: red;
}

#button{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

button{
    padding: 2px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(144, 173, 98);
    }
        .div{
            border: 1px solid;
            min-width: 18rem;
            min-height: 5rem;
            display: flex;
            background-color: coral;
            box-shadow: 2px 2px 14px;
        }

        header{
            border: 1px solid;
            background: url("img.jpeg");
            background-color: #cccccc; 
            height: 100px; 
            width: auto;
            background-position: center; 
        }

        .color{
            background-color: darkgreen;
        }
        
        .span{
            color: red;
        }
  }


