body{
    margin: 0 auto;
    background-color: #ce0033;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
	place-items: center;
}

header{
    border: 1px solid;
    background: url("img.jpeg");
    background-color: #cccccc; 
    height: 160px; 
    background-position: center; 
}

nav h5{
    text-align: center;
    color: beige;
}

main{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
    min-height: 15vh;
    gap:15px;
}

section{
    display:flex;
    justify-content: center;
    margin: 0 15px;
    min-height: 15vh;
    gap:10rem;
    padding: 5px;
    background-color: wheat;
    margin-bottom: 10px;
    border-radius: 10px;
}


.div{
    border: 1px solid;
    min-width: 40rem;
    min-height: 5rem;
    display: flex;
    background-color: #454b47;
    box-shadow: 2px 2px 4px;
    color: wheat;
}


span{
    margin: 55px auto;
    writing-mode: vertical-rl; 
    font-weight: bold;
}

.color{
    background-color: #cccccc;
}

.span{
    color: black;
}

#button{
    display: flex;   
}


button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
button {
  background: none;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 10px auto;
  padding: 5px;
  position: relative;
  text-transform: uppercase;
}
button::before,
button::after {
  background: rgb(99, 51, 51);
  content: "";
  position: absolute;
  z-index: -1;
}
button:hover {
  color: #29f2e4;
}
button:hover:after {
    width: 100%;
}

button::after {
height: 0;
left: 50%;
top: 50%;
width: 0;
}
button:hover:after {
height: 100%;
left: 0;
top: 0;
width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(144, 173, 98);
    }
        .div{
            border: 1px solid;
            min-width: 18rem;
            min-height: 5rem;
            display: flex;
            background-color: coral;
            box-shadow: 2px 2px 14px;
        }

        header{
            border: 1px solid;
            background: url("img.jpeg");
            background-color: #cccccc; 
            height: 100px; 
            width: auto;
            background-position: center; 
        }

        .color{
            background-color: darkgreen;
        }
        
        .span{
            color: red;
        }

        .form{
            /* background-color: aliceblue; */
            /* min-width: 100%; */
            /* margin-right: -100%; */
        }

        .input{
            max-width: fit-content;
        }

        table {
            width: 100%;
            overflow-x: auto; 
         
          }

          section{
            display: block;
          }
    
}


.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}


.container {
	background-color: #e9e9e9;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: 420px;
	max-width: 758px;
	min-width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.container__form {
	height: 100%;
	transition: all 0.6s ease-in-out;
    padding-left: 5px;
    max-width: 50%;
    margin: 0 auto;
}

.btn {
	background-color: #0367a6;
	background-image: linear-gradient(90deg, #0367a6 0%, #008997 74%);
	border-radius: 20px;
	border: 1px solid #0367a6;;
	color: #e9e9e9;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 2rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn {
	margin-top: 1.5rem;
}



 label{
  color: #ce0033;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

/* .form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
    min-width: 10%;
    padding-bottom: 14px;
} */

.form{
    /* background-color: aliceblue; */
    /* margin: 0 5%; */
    padding: 30px ;
    border-radius: 20px;
    /* max-width: 50%; */
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.col {
    padding: 20px 40px;
    text-align: left;
    margin: auto;
}

.form-control{
    width: 100%;
    border: none;
    padding: 10px 25px;
}

label{
    display: block;
    text-align: left;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
    border-radius: 5px;
}



  th {
    background-color: #006A72;
    color: #ffffff;
    padding: 8px;
  } 
  
 